.canvas {
    border-style: solid;
    border-color: silver;
    border-width: 3px;
}

.color-square {
    display: inline-block;
    margin: auto 5px;
    width: 10px;
    height: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}